:root {
  --main-text-color: #303030;
  --secondary-text-color: #555555;
  --grey-text-color: #9da4bd;
  --white-color: #ffffff;
  --grey-bcg-color: #f7f7f7;
  --dark-bcg-color: #191c26;
  --accent: #ff6c00;
}

body {
  background-color: var(--white-color);
  color: var(--main-text-color);

  font-family: Open Sans, sans-serif;
}

h1,
h2 {
  font-family: Raleway, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1280px;
  padding: 0 55px;
  margin: 0 auto;

  outline: 1px solid tomato;
}

/* Header */

header {
  background-color: #9da4bd;
}

/* Site-nav */

.site-nav .link {
  color: var(--white-color);

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent);
}

.auth-nav .link {
  color: var(--white-color);

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent);
}

.social-links .link {
  color: var(--main-text-color);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}

.social-links .link:hover,
.social-links .link:focus {
  color: var(--accent);
}

/* Button */

.button {
  display: inline-block;
  min-width: 160px;
  height: 40px;
  padding: 12px 20px;
  border: 1px solid var(--accent);
  border-radius: 25px;

  background-color: transparent;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.button.prymery {
  color: var(--white-color);
}

.button.secondary {
  color: var(--main-text-color);
}

.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: var(--accent);
}

/* Hero */

.hero-subtitle {
  margin-top: 192px;
  margin-bottom: 0;

  color: var(--grey-text-color);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.hero-title {
  margin-top: 20px;
  margin-bottom: 0;

  color: var(--white-color);

  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
}

.hero-text {
  margin-top: 20px;
  margin-bottom: 206px;

  color: var(--grey-text-color);

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

/* Section */

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.section-subtitle {
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.section-title {
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.section-text {
  margin-top: 0;
  margin-bottom: 20px;

  color: var(--secondary-text-color);

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

/* About */

.section-text.about {
  margin-top: 0;
  margin-bottom: 40px;

  font-size: 14px;
  line-height: 1.86;
}

/* Price */

.price {
  background-color: var(--dark-bcg-color);
}

.section-subtitle.grey {
  color: var(--grey-text-color);
}

.section-title.white {
  color: var(--white-color);
}

table {
  color: var(--grey-text-color);
  margin-bottom: 50px;
}

.indent {
  margin-bottom: 44px;
}

/* Features */

.features-list .amount {
  margin-top: 0;
  margin-bottom: 6px;

  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
}

sup {
  vertical-align: super;
  color: var(--accent);

  font-weight: 600;
  font-size: 16px;
  line-height: 1.37;
}

.features-list .text {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}

.features-list .item {
  margin-right: 30px;
  margin-bottom: 30px;
  text-align: center;

  padding: 20px;
  width: 170px;
  height: 133px;
  background-color: var(--grey-bcg-color);
}

/* Masters */

.masters {
  background-color: var(--grey-bcg-color);
}

.card .card-title {
  margin-top: 30px;
  margin-bottom: 8px;

  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.02em;
}

.card .card-text {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--accent);

  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;
}

/* Gallery */

/* Online-entry */

.entry {
  background-color: var(--dark-bcg-color);
}

/* Contacts */

.contacts {
  color: var(--grey-text-color);
  background-color: var(--dark-bcg-color);
}

.contacts .text {
  margin-top: 0;
  margin-bottom: 0;

  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.tel,
.mail {
  color: var(--grey-text-color);

  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.mail {
  text-decoration: underline;
}

.section-subtitle.white {
  margin-top: 70px;
  margin-bottom: 20px;
  color: var(--white-color);
}

/* Footer */

footer {
  padding-top: 56px;
  padding-bottom: 56px;
}
footer p {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--grey-text-color);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}
