:root {
  --main-text-color: #303030;
  --secondary-text-color: #555555;
  --grey-text-color: #9da4bd;
  --white-color: #ffffff;
  --grey-bcg-color: #f7f7f7;
  --dark-bcg-color: #191c26;
  --accent: #ff6c00;
}

body {
  background-color: var(--white-color);
  color: var(--main-text-color);

  font-family: Open Sans, sans-serif;
}

h1,
h2 {
  font-family: Raleway, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Site-nav */

.site-nav .link {
  color: var(--white-color);

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent);
}

.auth-nav .link {
  color: var(--white-color);

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent);
}

.social-links .link {
  color: var(--main-text-color);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}

.social-links .link:hover,
.social-links .link:focus {
  color: var(--accent);
}

/* Button */

.button {
  background-color: transparent;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.button.prymery {
  color: var(--white-color);
}

.button.secondary {
  color: var(--main-text-color);
}

.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: var(--accent);
}

/* Hero */

.hero-subtitle {
  color: var(--grey-text-color);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.hero-title {
  color: var(--white-color);

  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
}

.hero-text {
  color: var(--grey-text-color);

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

/* Section */

.section-subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.section-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.section-text {
  color: var(--secondary-text-color);

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

/* About */

.section-text.about {
  font-size: 14px;
  line-height: 1.86;
}

/* Price */

.price {
  background-color: var(--dark-bcg-color);
}

.section-subtitle.grey {
  color: var(--grey-text-color);
}

.section-title.white {
  color: var(--white-color);
}

table {
  color: var(--grey-text-color);
}

/* Features */

.features-list .amount {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
}

.features-list .plus {
  color: var(--accent);

  font-weight: 600;
  font-size: 16px;
  line-height: 1.37;
}

.features-list .text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}

/* Team */

.masters {
  background-color: var(--grey-bcg-color);
}

.card .card-title {
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.02em;
}

.card .card-text {
  color: var(--accent);

  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;
}

/* Gallery */

/* Online-entry */

.entry {
  background-color: var(--dark-bcg-color);
}

/* Contacts */

.contacts {
  color: var(--grey-text-color);
  background-color: var(--dark-bcg-color);
}

.contacts .text {
  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.tel,
.mail {
  color: var(--grey-text-color);

  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.mail {
  text-decoration: underline;
}

.section-subtitle.white {
  color: var(--white-color);
}

/* Footer */

footer p {
  color: var(--grey-text-color);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}
